/* Background styles */
/* Set background color for entire page */
body {
    background-color: #F9FAFC;
}

/* Brand or logo styles */
/* Define style for brand or logo element */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

/* Background colors */
.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

main-bg {
    background-color: #F9FAFC;
}

/* Card styles */
/* Define styles for elements with the 'card' class */
.card {
    border: none;
    background-color: transparent;
}

/* Image styles */
/* Define styles for an image container */
.image-container {
    position: relative;
}

/* Define styles for an 'image-flash' element */
.image-flash {
    position: absolute;
    bottom: 10%;
    min-width: 30%;
    left: -2px;
    background-color: #6b8e23;
}

.card-img-top {
    width: 100%;
    height: 700px; 
}


/* Author styles */
/* Define styles for an author's name */
.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* Link styles */
/* Define styles for post links */
.post-link {
    text-decoration: none;
    color: #445261;
}

/* Define styles for post links on hover and other page links */
.post-link:hover,
.page-link {
    color: #808994;
}

/* Define styles for post titles and subtitles */
.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #6b8e23;
}

.post-card-img-top,
.card-img-top {
    border-radius: 10%;
}

.link {
    color: #6b8e23;
    text-decoration: none;
}

/* Sign In link styles */
.my-link {
    color: #6b8e23;
    text-decoration: underline;
}

.my-link:hover {
    color: #808994;
}

/* Button styles */
/* Define styles for 'Sign Up' and 'Sign Out' buttons */
.btn-signup,
.btn-signout {
    background-color: #6b8e23;
    color: #fff;
}

/* Define styles for the 'Sign Up' and 'Sign Out' buttons on hover and when active */
.btn-signup:hover,
.btn-signup:active,
.btn-signout:hover,
.btn-signout:active {
    background-color: #fff;
    color: #6b8e23;
}

/* Like button styles */
/* Define styles for 'Like' buttons */
.btn-like {
    color: #e81010;
    border: none;
    background: transparent;
}

/* Define styles for 'Like' buttons on hover and when active */
.btn-like:hover,
.btn-like:active {
    color: #e81010;
    background: transparent;
    border: none;
}

.my-row {
    padding-top: 10px;
}

.my-category-name,
.my-post-title {
    color: #6b8e23;
    text-decoration: none;
}

.my-category-name:hover,
.my-post-title:hover {
    color: #4a611d;
}

@media (min-width: 768px) {
    .col-md-12 {
        width: auto;
    }
}

