{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Post title -->
<div class="container">
    <div class="row">
        <div class="col-md-6 my-col-md-12">
            <div class="masthead">
                <div class="masthead-text">
                    <h1 class="post-title">{{ post.title }}</h1>
                    <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Image container -->
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="masthead">
                <div class="image-container">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="post-card-img-top" src="https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg" alt="iPhone laying on a table with the text 'Hello' displayed on the screen" width="100%">
                    {% else %}
                    <img class="post-card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }} Featured Image" width="100%">
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="card mb-4 mt-3 left top">
                <div class="card-body">
                    <p class="card-text">
                        {{ post.content | safe }}
                    </p>
                    <div class="row">
                        <!-- Like button -->
                        <div class="col-1 my-col-1 like-btn">
                            <strong class="like-container">
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                        <i class="{% if liked %}fas{% else %}far{% endif %} fa-heart"></i>
                                    </button>
                                </form>
                                {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                                <span class="text-secondary">{{ post.number_of_likes }} </span>
                            </strong>
                        </div>
                        
                        <!-- Comment icon -->
                        <div class="col-1 comment-btn">
                            <strong class="text-secondary like-container">
                                <i class="far fa-comments"></i>
                                {% with comments.count as total_comments %}
                                {{ total_comments }}
                                {% endwith %}
                            </strong>
                        </div>
                        
                        <!-- Bookmark button -->
                        <div class="col-1 bookmark-btn">
                            <strong class="like-container">
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'toggle_saved' post.id %}" method="POST" id="saveForm">
                                    {% csrf_token %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-save">
                                        <i class="{% if saved_post %}fas{% else %}far{% endif %} fa-bookmark"></i>
                                    </button>
                                </form>
                                {% else %}
                                <span class="text-secondary"><i class="far fa-bookmark"></i></span>
                                {% endif %}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Javascript-links -->
<script>
   $(document).ready(function () {
        $('#saveForm').submit(function (e) {
            e.preventDefault();

            var form = $(this);

            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    var bookmarkIcon = form.find('.btn-save i');
                    if (response.saved) {
                        bookmarkIcon.removeClass('far').addClass('fas');
                    } else {
                        bookmarkIcon.removeClass('fas').addClass('far');
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });

</script>

{% endblock content %}